<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>系统退出</title>

	<style type="text/css"></style>
	<link rel="stylesheet" type="text/css" href="/static/mycss/my.css" />
	<link rel="stylesheet" type="text/css" href="/static/mycss/marketing.css" />
	<link rel="stylesheet" type="text/css" href="/static/mycss/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/mycss/pure-min.css" />

<body class="small login">
	<div class="pure-u-1 " style="margin-top:100px;">
		<h1 align="center">您已经安全退出该系统！</h1>
		<h2 align="center">如要登录，请点击<a class="pure-button" href="/login/">重新登录</a></h2>
	</div>
	<div class="footer pure-u-1">Copyright &copy; 2013 &nbsp;  康复救助基金领导小组</div>
</body>
</html>
