/* prefix? radius = y, grad = n */

body {
padding: 0;
margin: 0;
text-align: center;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 20px;
}

.errorlist{
    font-size:8px;
    color:red;
    margin:0 0 -4px;
    padding:0;
    list-style:none;
}

.content table td:not(.tdlabel .errorlist) {
    text-align: center;
}


#header  { padding: 22px 00px 12px 00px; }
#top     { padding: 30px 00px 00px 00px; }
#content { padding: 50px 00px 30px 00px; }
#footer  { padding: 20px 00px 40px 00px; }


/* ***************************
       Layout
**************************** */

.wrapper {
margin: 0 auto;
width: 940px;
}

#content {
position: relative;
}

#container, #header {
/*width: 1040px;*/
margin: 0 auto;
}

#footer {
width: 100%;
}
#footer .wrapper {
width: 100%;
white-space:nowrap;
}


body {
background: #000;
}


#header h1 {
text-align: center;
font-weight: normal;
text-align: center;
}

body.login #header { width: 420px; }
body.login #header h1 a { width: 360px; }
body.login #container { width: 460px; }
body.login #content .wrapper { width: 380px; }

body.small #wrapper {
margin: 0 auto;
}
body.small #header {
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 40px 0 0 0;
  border: none;
  background: none;
}

body.small #header h1 {
margin: 0 30px;
}


body.small #content {
padding: 25px 30px 20px 30px;
}

#header { background: #eeede7; border-bottom: 2px solid #d8d5c7; }
#top { background: #E0E0E0; border-bottom: 4px solid #d8d5c7; }
body { background: #f7f6f3; }

div.internal, body.small { background: #E0E0E0; }
div.internal #top { background: linear-gradient(#f2f1ec, #eeede7); border: 1px solid #e0ddcd; }
div.internal #content { background: #f7f6f3; border: 1px solid #e1dfd4; border-top: none; }
#footer { background: #E0E0E0; }

div.separator { border-top: 1px solid #e1dfd4; }
.call { border-top: 1px solid #e1dfd4; }
div.separator-label span { background: #f7f6f3; }

body.small #container { background: #f7f6f3; border: 1px solid #e1dfd4; }