{% extends "base.html" %}
{% block title %}帮助文档{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <p>Welcome, {{ user.unitsn }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

{{ hellotxt }}
<div class="splash pure-u-1">
  <div class="pure-g-r">
    <div class="pure-u-1-3">
      <div class="l-box splash-image">
        <img src="/static/image/500x350.gif"
             alt="Placeholder image for example.">
      </div>
    </div>

    <div class="pure-u-2-3">
      <div class="l-box splash-text">
        <h1 class="splash-head">
          帮助
        </h1>

        <h2 class="splash-subhead">
          帮助文档
        </h2>
      </div>
    </div>
  </div>

</div>

{% endblock %}
