{% extends "selectbase.html" %}
{% block title %}申请人员列表{% endblock %}
{% block admincssjs %}{% endblock %}

{% block orderselect %}
<form method="POST" action="/approvallist/" class="pure-form">
  <fieldset align="center" class="mselect">
    <label>区县名称：： </label>
    <select name="county">
      <option value ="">--</option>
      <option value ="金平区">金平区</option>
      <option value ="龙湖区">龙湖区</option>
      <option value ="濠江区">濠江区</option>
      <option value ="澄海区">澄海区</option>
      <option value ="潮阳区">潮阳区</option>
      <option value ="潮南区">潮南区</option>
      <option value ="南澳县">南澳县</option>
    </select>
    <label>是否批准： </label>
    <select name="isapproval">
      <option value ="">--</option>
      <option value ="1">是</option>
      <option value="0">否</option>
    </select>
    <button type="submit" class="pure-button pure-button-success">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block ordertable %}
<h2 align="center">残疾人信息列表</h2>
<table align="center" class="pure-table pure-table-bordered">
  <thead>
    <tr>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for ipp, curid, curppid in curpp %}
  <tr>
    {% for item in ipp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td>{{ item }}</td>
    {% endif %}
    {% endfor %}

    {% if not curid %}
    <td>&nbsp;</td>
    {% else %}{% if curid == "--" %}
    <td>已入院</td>
    {% else %}{% if curid == "over" %}
    <td>已出院</td>
    {% else %}
    <td><a class="pure-button " href="/approvalmodify/{{ curid }}/">修改</a></td>
    {% endif %}{% endif %}{% endif %}

    {% if curppid == "" %}
    <td>&nbsp;</td>    
    {% else %}{% if curppid == "--" %}
    <td>已批准</td>
    {% else %}
    <td><a class="pure-button " href="/approvalinput/{{ curppid }}/">批准</a></td>
    {% endif %}{% endif %}
    
  </tr>
  {% endfor %}
</table>
<br/>

{% endblock %}
