<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>康复救助系统—{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/static/mycss/my.css" />
  <link rel="stylesheet" type="text/css" href="/static/mycss/marketing.css" />
  <link rel="stylesheet" type="text/css" href="/static/mycss/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/static/mycss/pure-min.css" />
  <script type='text/javascript' src='/static/admin/js/jquery.min.js'></script>
  {% block othercssjs %}{% endblock %}
  <style></style>
  <script type="text/javascript">
$(document).ready(function(){ 
  $("#nav ul.child").removeClass("child");
  $("#nav li").has("ul").hover(function(){
    $(this).addClass("current").children("ul").fadeIn();
  }, function() {
    $(this).removeClass("current").children("ul").hide();
  });
});
</script>

</head>

<body>
  <div id="page-wrap">
    <div id="content">
      <ul id="nav">
        <li>
          <a href="#">系统维护</a>
        </li>
        <li>
          <a href="#">精神病人信息库</a>
          <ul class="child">
            <li>
              <a href="/mentalselect/">信息总表</a>
            </li>
            <li>
              <a href="/mentalinput/">信息录入</a>
            </li>
            <li>
              <a href="/mentalmodify/">信息修改</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">市残联业务</a>
          <ul class="child">
            <li>
              <a href="#">申核批准</a>
            </li>
            <li>
              <a href="#">结算归档</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">区残联业务</a>
          <ul class="child">
            <li>
              <a href="#">申请救助</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">医院业务</a>
          <ul class="child">
            <li>
              <a href="#">确认入院</a>
            </li>
            <li>
              <a href="#">出院结算</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <br/>
  <br/>
  {% block content %}{% endblock %}
  <div class="footer pure-u-1">Copyright &copy; 2013 &nbsp;  康复救助基金领导小组</div>
</body>
</html>