{% extends "base.html" %}
{% block title %}密码修改{% endblock %}
{% block admincssjs %}{% endblock %}

{% block content %}
<div class="pure-u-1 formpassword">
  <h2>密码修改</h2>
  <div class="pure-g-r content-ribbon">
    <form class="pure-form" action="." method="post">
      <div class='pure-u-1' align='center'>
        <table align="center" class="pure-table  pure-table-horizontal gameordertable">
          {{form.as_table}}
        </table>
        <p align="center">
          <button type="submit" class="pure-button pure-button-primary" align="center">更改密码</button>
        </p>
      </div>
    </form>
    {% block jscal2 %}{% endblock %}
  </div>
</div>

{% endblock %}
