{% extends "selectbase2.html" %}
{% block title %}已经出院待结算人员信息列表{% endblock %}
{% block admincssjs %}{% endblock %}

{% block orderselect %}
<form method="POST" action="/hospitallistcalc/" class="pure-form">
  <fieldset align="center" class="mselect">
    {{ form }}
    <button type="submit" class="pure-button pure-button-success">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block tabletitle %}已经出院待结算人员信息列表{% endblock %}
{% block ordertable %}
<table align="center" class="pure-table pure-table-bordered">
  <thead>
    <tr>
      <th>序号</th>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for ipp, curmodid, curid in curpp %}
  <tr>
    <td>{{ forloop.counter|add:startPos}}</td>
    {% for item in ipp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td>{{ item }}</td>
    {% endif %}
    {% endfor %}

    {% if not curmodid %}
    <td>&nbsp;</td>
    {% else %}
    <td><a class="pure-button " href="/calmodifychospital/{{ curmodid }}/">修改结算</a></td>
    {% endif %}

    {% if curid == "" %}
    <td>&nbsp;</td>
    {% else %}{% if curid == "over" %}
    <td>已核结</td>
    {% else %}
    <td><a class="pure-button " href="/calchospital/{{ curid }}/">确认结算</a></td>
    {% endif %}{% endif %}

  </tr>
  {% endfor %}
</table>

{% endblock %}
