{% extends "hospitalbase.html" %}
{% block title %}已经出院待结算人员信息列表{% endblock %}
{% block admincssjs %}{% endblock %}

{% block hospitalselect %}
<form method="POST" action="/hospitallistout/" class="pure-form">
  <fieldset align="center" class="mselect">
    <label>区县名称：： </label>
    <select name="county">
      <option value ="">--</option>
      <option value ="金平区">金平区</option>
      <option value ="龙湖区">龙湖区</option>
      <option value ="濠江区">濠江区</option>
      <option value ="澄海区">澄海区</option>
      <option value ="潮阳区">潮阳区</option>
      <option value ="潮南区">潮南区</option>
      <option value ="南澳县">南澳县</option>
    </select>
    <label>是否出院： </label>
    <select name="calchospital">
      <option value ="">--</option>
      <option value ="1">未结算</option>
      <option value="0">已结算</option>
    </select>
    <button type="submit" class="pure-button pure-button-success">查询</button>
  </fieldset>
</form>
{% endblock %}

{% block hospitaltable %}
<h2 align="center">已经出院待结算人员信息列表</h2>
<table align="center" class="pure-table pure-table-bordered">
  <thead>
    <tr>
      {% for item in curppname %}
      <th>{{ item }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for ipp, curmodid, curid in curpp %}
  <tr>
    {% for item in ipp %}
    {% if not item %}
    <td>&nbsp;</td>
    {% else %}
    <td>{{ item }}</td>
    {% endif %}
    {% endfor %}

    {% if not curmodid %}
    <td>&nbsp;</td>
    {% else %}{% if curmodid == "over" %}
    <td>已结算</td>
    {% else %}
    <td><a class="pure-button " href="/calchospital/{{ curmodid }}/">修改结算</a></td>
    {% endif %}{% endif %}

    {% if curid == "" %}
    <td>&nbsp;</td>
    {% else %}
    <td><a class="pure-button " href="/calchospital/{{ curid }}/">确认结算</a></td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
<br/>

{% endblock %}
