{% extends "inputbase.html" %}
{% block title %}确认入院{% endblock %}

{% block dispinfo %}
    <address align="center">
        {% for item in nomodifyinfo %}
        {{ item }}；
        {% endfor %}
    </address>
{% endblock %}

{% block submitbtn %}
<button type="submit" class="pure-button pure-button-primary" align="center">确认入院</button>
{% endblock %}

{% block jscal2 %}
<script>
    Calendar.setup({
    trigger    : "id_indate",
    inputField : "id_indate",
    min: {{ jscal_min }},
    max: {{ jscal_max }}
    });
</script>
{% endblock %}
