{% extends "base.html" %}
{% block othercssjs %}
<link rel="stylesheet" type="text/css" href="/static/JSCal2/css/jscal2.css" />
<link rel="stylesheet" type="text/css" href="/static/JSCal2/css/border-radius.css" />
<link rel="stylesheet" type="text/css" href="/static/JSCal2/css/steel/steel.css" />
<script type="text/javascript" src="/static/JSCal2/js/jscal2.js"></script>
<script type="text/javascript" src="/static/JSCal2/js/lang/cn.js"></script>
{% endblock %}

{% block content %}
<div class="splash3 pure-u-1 l-centered">
  {% block hospitalselect %}{% endblock %}
</div>

<div class="pure-g-r content-ribbon">
  <div class="pure-u-1">
    {% block hospitaltable %}{% endblock %}
    <script>
      Calendar.setup({
      trigger    : "id_commitdate",
      inputField : "id_commitdate",
      min: {{ jscal_min }},
      max: {{ jscal_max }}
      });
    </script>

  </div>
</div>
{% endblock %}
