<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>系统登录</title>

	<style type="text/css"></style>
	<link rel="stylesheet" type="text/css" href="/static/mycss/home2.css" />
</head>

<body class="small login">
	<div id="header">
		<div class="wrapper">
			<h1>康复救助基金结算系统</h1>
		</div>
	</div>

	<div id="container">
		<div id="content">
			<div class="wrapper">

				<div class="error">Please type your email and password.</div>

				<form name="f_0_11_1_3_1" method="post" action="/login/">
					<table class="login" style="margin-left: auto; margin-right: auto;">
						<tbody>
							<tr>
								<td>
									<p class="mtop0 mbottom025"> <strong><label for="usename">单位编码：</label></strong> 
									</p>
									<input id="username" tabindex="1" class="inputtext" type="text" name="username"></td>
							</tr>
							<tr>
								<td>
									<p class="mtop05 mbottom025"> <strong><label for="password">密码：</label></strong> 
									</p>
									<input tabindex="2" class="inputtext" type="password" name="password" id="password"></td>
							</tr>

							<tr>
								<td style="padding-top: 10px;">
									<input class="public-button" type="submit" tabindex="4" value="登录"></td>
							</tr>
						</tbody>
					</table>
					<input type="hidden" name="next" value="" />
				</form>

			</div>
			<!-- wrapper -->
		</div>
		<!-- content -->
	</div>
	<!-- container -->
	<div id="footer">Copyright &copy; 2013 &nbsp;  康复救助基金领导小组</div>
</body>
</html>