{% extends "mentalbase.html" %}
{% block title %}精神病人信息录入{% endblock %}

{% block displayinfo %}
<span>残疾人信息录入</span>
<!-- <h2 align="center">残疾人信息录入</h2> -->
{% endblock %}

{% block mentaltable %}
<form class="pure-form" action="." method="post">
    <div class='pure-u-1' align='center'>
        <table align="center" class="pure-table  pure-table-horizontal gameordertable">
            {% for field in form %}
            {% if forloop.counter0|divisibleby:2 %}
            <tr>
                <td class="tdlabel">{{ field.label }}</td>
                <td class="fieldWrapper ">{{ field.errors }}{{ field }}</td>
                {% else %}
                <td class="tdlabel">{{ field.label }}</td>
                <td class="fieldWrapper " >{{ field.errors }}{{ field }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>    
    <p align="center">
        <button type="submit" class="pure-button pure-button-primary" align="center">保存</button>
    </p>
</form>
{% endblock %}