{% extends "base.html" %}
{% block othercssjs %}
<link rel="stylesheet" type="text/css" href="/static/JSCal2/css/jscal2.css" />
<link rel="stylesheet" type="text/css" href="/static/JSCal2/css/border-radius.css" />
<link rel="stylesheet" type="text/css" href="/static/JSCal2/css/steel/steel.css" />
<script type="text/javascript" src="/static/JSCal2/js/jscal2.js"></script>
<script type="text/javascript" src="/static/JSCal2/js/lang/cn.js"></script>
{% endblock %}
{% block content %}

<div class="splash2 pure-u-1">
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
      {% block mentaltable %}{% endblock %}
      <script>
        Calendar.setup({
        trigger    : "id_certtime",
        inputField : "id_certtime",
        min: {{ jscal_min }},
        max: {{ jscal_max }}
        });
        Calendar.setup({
        trigger    : "id_regtime",
        inputField : "id_regtime",
        min: {{ jscal_min }},
        max: {{ jscal_max }}
        });
      </script>

    </div>
    <!-- <div class="pure-u-1-2"> -->
    <!--   {% block orderdate %}{% endblock %} -->
    <!-- </div> -->
  </div>
</div>

{% endblock %}
